.add-form {
    margin: 15px 0;
}

.add-form input {
    font-weight: 300;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; 
}

.add-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}